body {
    margin-top: auto;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, sans-serif;
    padding: 4;
    background-color: #e9e3e3ea;
    color: #333;
}

header {
    background: #007acc;
    color: white;
    padding: 10px;
    text-align: center;
}

.img-1{
    margin-top: auto;
    margin-left: 10%;
    margin-right: 10%;
    
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

main {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    background: #e9e3e3fd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea, select, button {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    margin-top: 15px;
    background: #007acc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #005f99;
}

footer {
    background: #007acc;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
